.header_wrapper {
  max-width: 1280px;
  padding: 8px 16px;
  margin: 0 auto;
  display: flex;
   justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
}

.ul_wrapper {
  display: flex;
  gap: 32px;
}

.nav_li a {
  color: #dfdfdf;
}


.nav_li .navLink:hover{
  color: #ed1c24;
}

.LogoButton {
  background-color: transparent;
  border: transparent;
}

.btn_wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.btn_login {
  border: 2px solid #bcbcbc;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}
.btn_login:hover {
  border: 2px solid #fff;
}


.btn_singIn {
  border: 2px solid #17161e;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}
.btn_singIn:hover {
  border: 2px solid #fff;
}

#buttonMobile {
  display: none;
}

@media (max-width: 600px) {
  /* menu mobile */
  nav {
    display: none;
  }
  #buttonMobile {
    display: block;
    background-color: transparent;
    border: transparent;
  }
  #MenuIcons {
    width: 20px;
    height: 20px;
  }
  /* estilo para o menu ativo */
  .active nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px; /* ajuste conforme necessário */
    left: 0;
    width: 100%;
    background-color: #17161e; /* cor de fundo do menu mobile */
    z-index: 1;
  }

  .active .ul_wrapper {
    padding: 16px 20px;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }

  .active .nav_li {
    text-align: center;
  }
}

/* adicione mais estilos conforme necessário para o menu mobile */

